UI vesamenu.c32
PROMPT 0
TIMEOUT 50

MENU TITLE SylonOS 1.0
MENU BACKGROUND splash.png
MENU COLOR title  1;36;44 #FF6D00 #00000000 std
MENU COLOR sel    7;37;40 #FFFFFFFF #FF6D00 std
MENU COLOR unsel  37;44   #FFFFFFFF #00000000 std
MENU COLOR border 37;44   #00000000 #00000000 std

DEFAULT install

LABEL install
    MENU LABEL Installer SylonOS
    KERNEL /install/vmlinuz
    APPEND initrd=/install/initrd.gz auto=true priority=critical preseed/file=/cdrom/preseed.cfg locale=fr_FR.UTF-8 keyboard-configuration/xkb-keymap=fr --- quiet

LABEL live
    MENU LABEL Essayer SylonOS (sans installer)
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live components locales=fr_FR.UTF-8 keyboard-layouts=fr splash quiet
